# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.pyc

# Logs
*.log
reports/pipeline.log

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
PredictiveCustomerChurn/